@font-face {
    font-family: 'RoadRage';
    src: url('../../fonts/RoadRage/roadrage.ttf');
}

.navigation-bar__wrapper{
    max-width: 1920px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navigation-bar{
    background-color: black;
    height: 58px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation-bar__item{
    color: white;
    font-family: 'RoadRage';
    font-size: 20px;
    cursor: pointer;
}

.logo{
    max-height: 48px;
    max-width: 146px;
    height: 100%;
    width: 100%;
    filter: invert(100%);
}